## 집밥백선생 시청률 스크래핑

In [4]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
import requests
from urllib.request import urlopen
from urllib.error   import HTTPError
from urllib.error   import URLError

In [5]:
webpage = requests.get('https://search.daum.net/search?w=tv&q=%EC%A7%91%EB%B0%A5%20%EB%B0%B1%EC%84%A0%EC%83%9D%20%EC%8B%9C%EC%B2%AD%EB%A5%A0&irt=tv-program&irk=68652&DA=TVP')
# webpage.text
soup = BeautifulSoup(webpage.content , 'html.parser')

In [6]:
# soup

In [7]:
# 한글 폰트 문제 해결
import platform

from matplotlib import font_manager, rc
# plt.rcParams['axes.unicode_minus'] = False

if platform.system() == 'Darwin':
    rc('font', family='AppleGothic')
elif platform.system() == 'Windows':
    path = "c:/Windows/Fonts/malgun.ttf"
    font_name = font_manager.FontProperties(fname=path).get_name()
    rc('font', family=font_name)
else:
    print('Unknown system... sorry~~~~')

In [8]:
table = soup.find('table', {'class' : 'tbl_rank tbl_type4'})
#table

In [206]:
rating_list = []
date_list = []

# for tr in table.find_all('tr') :
#     tds = list(tr.find_all('td'))  # 인덱스로 접근 가능하도록 해주기 위해 list로 캐스팅 해줌
#     for td in tds :
#         rating = tds[1].text 
#         rating_list.append(rating)         

#         date = tds[0].text
#         date_list.append(date)

for trs in table.find_all('tr') :
    # print(trs)
    tds = list(trs.find_all('td'))
    # print(tds)
    for i, td in enumerate(tds) :
        if i == 1 :
            rating_list.append(td.text)
        if i == 0 :
            date_list.append(td.text)

In [207]:
print(rating_list)
print(date_list)

['3.638%', '4.618%', '3.739%', '3.763%', '4.614%', '4.711%', '4.066%', '3.754%', '4.807%', '5.184%', '4.107%', '5.416%', '5.228%', '6.253%', '5.724%', '5.61%', '5.303%', '4.689%', '5.651%', '7.409%', '7.242%', '6.102%', '7.874%', '7.194%', '7.195%', '7.029%', '5.746%', '6.146%', '6.548%', '6.303%', '7.303%', '6.312%', '5.671%', '4.671%', '3.416%', '3.452%', '2.759%', '2.156%']
['2016.2.2', '2016.1.26', '2016.1.19', '2016.1.12', '2016.1.5', '2015.12.29', '2015.12.22', '2015.12.15', '2015.12.8', '2015.12.1', '2015.11.24', '2015.11.17', '2015.11.10', '2015.11.3', '2015.10.27', '2015.10.20', '2015.10.13', '2015.10.6', '2015.9.29', '2015.9.22', '2015.9.15', '2015.9.8', '2015.9.1', '2015.8.25', '2015.8.18', '2015.8.11', '2015.8.4', '2015.7.28', '2015.7.21', '2015.7.14', '2015.7.7', '2015.6.30', '2015.6.23', '2015.6.16', '2015.6.9', '2015.6.2', '2015.5.26', '2015.5.19']

In [28]:
import pandas as pd

In [208]:
jibobbaek01_df = pd.DataFrame({
    'date' : date_list,
    'rating' : rating_list,
})

In [209]:
# jibobbaek01_df.to_csv('jibobbaek01.csv', mode='w', encoding='utf-8') 
# # encoding='utf-8'일 때 excel로 열게되면 한글깨짐 발생.
# print('success')
jibobbaek01_df

          date  rating
0     2016.2.2  3.638%
1    2016.1.26  4.618%
2    2016.1.19  3.739%
3    2016.1.12  3.763%
4     2016.1.5  4.614%
5   2015.12.29  4.711%
6   2015.12.22  4.066%
7   2015.12.15  3.754%
8    2015.12.8  4.807%
9    2015.12.1  5.184%
10  2015.11.24  4.107%
11  2015.11.17  5.416%
12  2015.11.10  5.228%
13   2015.11.3  6.253%
14  2015.10.27  5.724%
15  2015.10.20   5.61%
16  2015.10.13  5.303%
17   2015.10.6  4.689%
18   2015.9.29  5.651%
19   2015.9.22  7.409%
20   2015.9.15  7.242%
21    2015.9.8  6.102%
22    2015.9.1  7.874%
23   2015.8.25  7.194%
24   2015.8.18  7.195%
25   2015.8.11  7.029%
26    2015.8.4  5.746%
27   2015.7.28  6.146%
28   2015.7.21  6.548%
29   2015.7.14  6.303%
30    2015.7.7  7.303%
31   2015.6.30  6.312%
32   2015.6.23  5.671%
33   2015.6.16  4.671%
34    2015.6.9  3.416%
35    2015.6.2  3.452%
36   2015.5.26  2.759%
37   2015.5.19  2.156%

In [33]:
# 시즌2

In [36]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
from urllib.request import urlopen
from urllib.error   import HTTPError
from urllib.error   import URLError

In [210]:
webpage = requests.get('https://search.daum.net/search?w=tv&q=%EC%A7%91%EB%B0%A5%20%EB%B0%B1%EC%84%A0%EC%83%9D%20%EC%8B%9C%EC%A6%8C2%20%EC%8B%9C%EC%B2%AD%EB%A5%A0&irt=tv-program&irk=76234&DA=TVP')
# webpage.text
soup = BeautifulSoup(webpage.content , 'html.parser')

In [9]:
table = soup.find('table', {'class' : 'tbl_rank tbl_type2'})
#table

In [212]:
# //*[@id="tv_rating"]/div[3]/table/tbody/tr[1]
# //*[@id="tv_rating"]/div[3]/table/tbody/tr[2]
# //*[@id="tv_rating"]/div[3]/table/tbody/tr[2]/td[3]


rating_list = []
date_list = []

for trs in table.find_all('tr') :
    # print(trs)
    tds = list(trs.find_all('td'))
    # print(tds)
    for i, td in enumerate(tds) :
        if i == 2 :
            rating_list.append(td.text)
        if i == 0 :
            date_list.append(td.text)  

# print(rating_list)
# print(date_list)

In [213]:
jibobbaek02_df = pd.DataFrame({
    'date' : date_list,
    'rating' : rating_list,
})

In [214]:
# jibobbaek02_df.to_csv('jibobbaek02.csv', mode='w', encoding='utf-8') 
# # encoding='utf-8'일 때 excel로 열게되면 한글깨짐 발생.
# print('success')

jibobbaek02_df

          date  rating
0   2016.11.22  2.618%
1   2016.11.15  3.921%
2    2016.11.8  3.685%
3    2016.11.1  3.243%
4   2016.10.25  3.438%
5   2016.10.18  2.324%
6   2016.10.11   3.25%
7    2016.10.4   3.08%
8    2016.9.27  3.063%
9    2016.9.20  2.643%
10   2016.9.13  2.115%
11    2016.9.6  2.424%
12   2016.8.30  3.696%
13   2016.8.23  3.029%
14   2016.8.16  3.301%
15    2016.8.9  3.181%
16    2016.8.2  2.522%
17   2016.7.26  3.144%
18   2016.7.19  3.801%
19   2016.7.12  3.546%
20    2016.7.5  3.057%
21   2016.6.28  3.009%
22   2016.6.21  3.155%
23   2016.6.14  3.269%
24    2016.6.7  3.551%
25   2016.5.31  2.658%
26   2016.5.24  3.715%
27   2016.5.17  2.782%
28   2016.5.10  4.033%
29    2016.5.3  4.035%
30   2016.4.26  2.303%
31   2016.4.19   3.03%
32   2016.4.12  3.392%
33    2016.4.5   3.04%
34   2016.3.29  3.893%
35   2016.3.22  3.629%

In [47]:
# 시즌3

In [215]:
webpage = requests.get('https://search.daum.net/search?w=tv&q=%EC%A7%91%EB%B0%A5%20%EB%B0%B1%EC%84%A0%EC%83%9D%20%EC%8B%9C%EC%A6%8C3%20%EC%8B%9C%EC%B2%AD%EB%A5%A0&irt=tv-program&irk=78431&DA=TVP')
# webpage.text
soup = BeautifulSoup(webpage.content , 'html.parser')

In [216]:
table = soup.find('table', {'class' : 'tbl_rank tbl_type2'})

In [217]:
rating_list = []
date_list = []

for trs in table.find_all('tr') :
    # print(trs)
    tds = list(trs.find_all('td'))
    # print(tds)
    for i, td in enumerate(tds) :
        if i == 2 :
            rating_list.append(td.text)
        if i == 0 :
            date_list.append(td.text)

In [219]:
jibobbaek03_df = pd.DataFrame({
    'date' : date_list,
    'rating' : rating_list,
})
jibobbaek03_df

          date  rating
0   2017.11.28  2.314%
1   2017.11.21  2.935%
2   2017.11.14  2.934%
3    2017.11.7  2.621%
4   2017.10.31  2.522%
5   2017.10.24  2.651%
6   2017.10.17  3.282%
7   2017.10.10  2.834%
8    2017.10.3  2.317%
9    2017.9.26  2.957%
10   2017.9.19  2.434%
11   2017.9.12  1.956%
12    2017.9.5  2.385%
13   2017.8.29  2.327%
14   2017.8.22  2.068%
15   2017.8.15  2.782%
16    2017.8.8  2.267%
17    2017.8.1  1.773%
18   2017.7.25  2.282%
19   2017.7.18  2.153%
20   2017.7.11  2.098%
21    2017.7.4   2.45%
22   2017.6.27  1.922%
23   2017.6.20  2.377%
24   2017.6.13  2.425%
25    2017.6.6  3.005%
26   2017.5.30  3.502%
27   2017.5.23  2.584%
28   2017.5.16   2.56%
29    2017.5.9  4.259%
30    2017.5.2  2.745%
31   2017.4.25  2.673%
32   2017.4.18   3.01%
33   2017.4.11  2.977%
34    2017.4.4  2.561%
35   2017.3.28  3.016%
36   2017.3.21  1.783%
37   2017.3.14  2.519%
38    2017.3.7  2.665%
39   2017.2.28  2.198%
40   2017.2.21  1.993%
41   2017.2.14   2.21%

In [52]:
# jibobbaek03_df.to_csv('jibobbaek03.csv', mode='w', encoding='utf-8') 
# # encoding='utf-8'일 때 excel로 열게되면 한글깨짐 발생.
# print('success')

success

In [53]:
# 시즌1,2,3 csv합치고 역순으로 정렬.

In [58]:
# df01 = pd.read_csv('./jibobbaek01.csv',sep=',',encoding='utf-8', header=None)

In [221]:
df01 = jibobbaek01_df.loc[::-1]
df01

          date  rating
37   2015.5.19  2.156%
36   2015.5.26  2.759%
35    2015.6.2  3.452%
34    2015.6.9  3.416%
33   2015.6.16  4.671%
32   2015.6.23  5.671%
31   2015.6.30  6.312%
30    2015.7.7  7.303%
29   2015.7.14  6.303%
28   2015.7.21  6.548%
27   2015.7.28  6.146%
26    2015.8.4  5.746%
25   2015.8.11  7.029%
24   2015.8.18  7.195%
23   2015.8.25  7.194%
22    2015.9.1  7.874%
21    2015.9.8  6.102%
20   2015.9.15  7.242%
19   2015.9.22  7.409%
18   2015.9.29  5.651%
17   2015.10.6  4.689%
16  2015.10.13  5.303%
15  2015.10.20   5.61%
14  2015.10.27  5.724%
13   2015.11.3  6.253%
12  2015.11.10  5.228%
11  2015.11.17  5.416%
10  2015.11.24  4.107%
9    2015.12.1  5.184%
8    2015.12.8  4.807%
7   2015.12.15  3.754%
6   2015.12.22  4.066%
5   2015.12.29  4.711%
4     2016.1.5  4.614%
3    2016.1.12  3.763%
2    2016.1.19  3.739%
1    2016.1.26  4.618%
0     2016.2.2  3.638%

In [222]:
# df02 = pd.read_csv('./jibobbaek02.csv',sep=',',encoding='utf-8', header=None)
df02 = jibobbaek02_df.loc[::-1]
df02

          date  rating
35   2016.3.22  3.629%
34   2016.3.29  3.893%
33    2016.4.5   3.04%
32   2016.4.12  3.392%
31   2016.4.19   3.03%
30   2016.4.26  2.303%
29    2016.5.3  4.035%
28   2016.5.10  4.033%
27   2016.5.17  2.782%
26   2016.5.24  3.715%
25   2016.5.31  2.658%
24    2016.6.7  3.551%
23   2016.6.14  3.269%
22   2016.6.21  3.155%
21   2016.6.28  3.009%
20    2016.7.5  3.057%
19   2016.7.12  3.546%
18   2016.7.19  3.801%
17   2016.7.26  3.144%
16    2016.8.2  2.522%
15    2016.8.9  3.181%
14   2016.8.16  3.301%
13   2016.8.23  3.029%
12   2016.8.30  3.696%
11    2016.9.6  2.424%
10   2016.9.13  2.115%
9    2016.9.20  2.643%
8    2016.9.27  3.063%
7    2016.10.4   3.08%
6   2016.10.11   3.25%
5   2016.10.18  2.324%
4   2016.10.25  3.438%
3    2016.11.1  3.243%
2    2016.11.8  3.685%
1   2016.11.15  3.921%
0   2016.11.22  2.618%

In [223]:
# df03 = pd.read_csv('./jibobbaek03.csv',sep=',',encoding='utf-8', header=None)
df03 = jibobbaek03_df.loc[::-1]
df03

          date  rating
41   2017.2.14   2.21%
40   2017.2.21  1.993%
39   2017.2.28  2.198%
38    2017.3.7  2.665%
37   2017.3.14  2.519%
36   2017.3.21  1.783%
35   2017.3.28  3.016%
34    2017.4.4  2.561%
33   2017.4.11  2.977%
32   2017.4.18   3.01%
31   2017.4.25  2.673%
30    2017.5.2  2.745%
29    2017.5.9  4.259%
28   2017.5.16   2.56%
27   2017.5.23  2.584%
26   2017.5.30  3.502%
25    2017.6.6  3.005%
24   2017.6.13  2.425%
23   2017.6.20  2.377%
22   2017.6.27  1.922%
21    2017.7.4   2.45%
20   2017.7.11  2.098%
19   2017.7.18  2.153%
18   2017.7.25  2.282%
17    2017.8.1  1.773%
16    2017.8.8  2.267%
15   2017.8.15  2.782%
14   2017.8.22  2.068%
13   2017.8.29  2.327%
12    2017.9.5  2.385%
11   2017.9.12  1.956%
10   2017.9.19  2.434%
9    2017.9.26  2.957%
8    2017.10.3  2.317%
7   2017.10.10  2.834%
6   2017.10.17  3.282%
5   2017.10.24  2.651%
4   2017.10.31  2.522%
3    2017.11.7  2.621%
2   2017.11.14  2.934%
1   2017.11.21  2.935%
0   2017.11.28  2.314%

In [224]:
result = pd.concat([df01,df02,df03], ignore_index=True)

In [231]:
result

           date  rating
0     2015.5.19  2.156%
1     2015.5.26  2.759%
2      2015.6.2  3.452%
3      2015.6.9  3.416%
4     2015.6.16  4.671%
..          ...     ...
111  2017.10.31  2.522%
112   2017.11.7  2.621%
113  2017.11.14  2.934%
114  2017.11.21  2.935%
115  2017.11.28  2.314%

[116 rows x 2 columns]

In [232]:
jibobbaek_rating = result
jibobbaek_rating

           date  rating
0     2015.5.19  2.156%
1     2015.5.26  2.759%
2      2015.6.2  3.452%
3      2015.6.9  3.416%
4     2015.6.16  4.671%
..          ...     ...
111  2017.10.31  2.522%
112   2017.11.7  2.621%
113  2017.11.14  2.934%
114  2017.11.21  2.935%
115  2017.11.28  2.314%

[116 rows x 2 columns]

In [233]:
jibobbaek_rating.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 116 entries, 0 to 115
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    116 non-null    object
 1   rating  116 non-null    object
dtypes: object(2)
memory usage: 1.9+ KB

In [234]:
# from datetime import datetime, timedelta
# jibobbaek_rating[1] = pd.to_datetime(jibobbaek_rating[1], format="%Y%d%m")
# jibobbaek_rating[1] = jibobbaek_rating[1].apply(lambda _: datetime.strptime(_,"%Y%d%m"))

In [235]:
jibobbaek_rating.to_csv('jibobbaek_rating.csv', mode='w', encoding='utf-8') 
# encoding='utf-8'일 때 excel로 열게되면 한글깨짐 발생.
print('success')

success